# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
env/.signing.env
*.p12
*.pfx

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.electron-vite/skill-module-cache/*
.electron-vite/skill-module-cache-test/*

dist/
dist/**
coverage/
storage/
skill-module-cache/*
